ul {
    list-style-type: none;
}

li {
    text-align: left;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    max-width: 60%;
    background-color: #f3f172;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;     
    height: 100vh; 
}


/* Mensagens do remetente alinhadas à direita */
.sender-message {
    background-color: #cfe9ff;
    margin-left: auto;
    text-align: right;
}

.formulario{
    display: block;
    width: 50vw;
    text-align: center;
}

.chat{
    width: 50vw;
    text-align: center;
}
